@import url('https://fonts.googleapis.com/css?family=Heebo:400,900|Open+Sans|Itim');

:root {
  --baseline: 1.5rem;
  --readable-width: 32em;
  --min-width: 15rem;
  --two-column-width: 46em;
  --three-column-width: 98rem;
  --nav-item-height: calc(var(--baseline) * 2);
  --black: #111;
  --white: ghostwhite;
  --blue: cornflowerblue;
  --tan: beige;

  line-height: var(--baseline);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  overflow: auto;
  color: var(--black);
  background-color: var(--white);
}

p {
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
}

h1,
h2 {
  margin: 0;
  padding: var(--baseline) 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  max-height: var(--nav-item-height);
  background-color: var(--black);
  overflow: hidden;
  transition: max-height 0.5s;
}

#nav-highlight {
  background-color: teal;
  width: 100%;
  height: var(--nav-item-height);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all 0.25s;
  opacity: 1;
}

#nav-highlight[data-position="0"],
#nav-highlight[data-position="48"] {
  opacity: 0;
}

@media screen and (min-width: 40em) {
  #nav-highlight[data-position="48"] {
    opacity: 1;
  }
}

nav.show {
  height: calc(var(--nav-item-height) * 8);
  max-height: 100vh;
  overflow: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 300;
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-item-height);
}

@media screen and (min-width: 40rem) and (min-height: 26.5rem) {
  nav {
    top: 1rem;
    right: 1rem;
    left: auto;
    width: 7rem;
    max-height: none;
    border-radius: 0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
  }

  nav .menu-handle {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--white);
}

header .title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

header .title h1 {
  flex: 100%;
  font-family: "Heebo", sans-serif;
  font-size: 6vw;
  font-weight: 900;
  position: relative;
}

header .title h1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin: auto;
  border-bottom: 1px solid var(--white);
}

header .title .caption {
  flex: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
  padding: var(--baseline) 0;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: var(--min-width);
}

.stage,
.stage::after {
  cursor: pointer;
}

.stage {
  --description-margin: 0.1rem;
  --description-width: 15rem;
  --arrow-size: 6px;

  flex: 0 0 33%;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-bottom: 2em;
  padding: 0 0.5rem;
  box-sizing: border-box;
  position: relative;
}

@media screen and (min-width: 60rem) {
  .stack {
    flex-wrap: nowrap;
  }
}

.stage::after {
  content: '';
  display: block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform: rotate(45deg) translateX(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
  border-color: var(--white);
  border-style: solid;
  border-width: 0;
  border-bottom-width: var(--size);
  border-right-width: var(--size);
}

.stage:focus::after {
  border-width: 0;
  background-color: var(--white);
  border-top-width: var(--size);
  border-left-width: var(--size);
}

.stage,
.stage:link,
.stage:active,
.stage:hover {
  color: var(--white);
  text-decoration: none;
}

.stack .term,
.stack .description {
  display: block;
  text-align: center;
}

.stage .description {
  max-height: 0;
  max-width: 0;
  width: var(--description-width);
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background-color: var(--white);
  color: var(--black);
  margin: var(--description-margin);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  overflow: hidden;
}

.stage:nth-child(3n) .description {
  left: auto;
  right: 0;
  transform: none;
}

.stage:nth-child(3n+1) .description {
  left: 0;
  transform: none;
}

@media screen and (min-width: 40rem) {
  .stage:nth-child(3n) .description,
  .stage:nth-child(3n+1) .description {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.stage:focus .description {
  max-height: 20rem;
  max-width: var(--description-width);
}

.description span {
  display: block;
  text-align: center;
  margin: 0.5rem;
  width: calc(var(--description-width) - 1rem);
}

.bgvideo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bgvideo {
  position: absolute;
  z-index: -1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 56.25vw;
  width: auto;
  height: auto;
  overflow: hidden;
  background-image: url('Coverr/Snapshots/Love-Coding.jpg');
  background-position: center;
  background-size: cover;
}

section h2,
footer h2 {
  font-size: 2.5rem;
  color: teal;
  margin: 0;
}

footer h2 {
  color: var(--white);
}

.header {
  flex: 0 0 100%;
  text-align: center;
  border-bottom: 1px inset silver;
  padding-bottom: var(--baseline);
}

.content {
  max-width: var(--readable-width);
  min-width: var(--min-width);
  padding: 0 1rem var(--baseline) 1rem;
}

@media screen and (min-width: 40rem) and (min-height: 26.5rem) {
  .content {
    margin: 0 9rem;
  }
}

#mission,
#mission h2 {
  background-color: teal;
  color: var(--white);
}

#bio {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
}

#bio .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--three-column-width);
  padding-bottom: var(--baseline);
}

.profilePic {
  margin: 0 1rem;
  padding-top: var(--baseline);
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePic .imageFrame {
  --size: 15rem;

  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  overflow: hidden;
  border-radius: 50%;
  border: 0.5rem solid white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  position: relative;
}

.profilePic img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#bio .about {
  flex: 1 1;
  max-width: var(--readable-width);
  min-width: 16em;
  margin: 0 1em var(--baseline) 0;
}

#bio .stats {
  flex: 1 1;
}

.stats dt {
  font-weight: bold;
  margin-top: var(--baseline);
}

.stats dl > dt,
.stats dl > dd {
  margin: 0;
}

.stats dt:first-child {
  margin: 0;
}

.location a:visited {
  color: var(--blue);
}

#skills {
  background-color: var(--tan);
}

.skill--categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.skill--category {
  flex: 1;
}

.category--title {
  color: teal;
  margin-bottom: 0;
  font-style: italic;
}

.skill--table {
  width: 100%;
}

.skill--table td {
  padding: 5px 0;
}

.skill--name {
  width: 8em;
}

.skill--skillbar {
  width: 100%;
  height: 0.75em;
  background-color: silver;
}

.skill--skillbar::before {
  display: block;
  content: '';
  background: #333;
  height: 100%;
}

.skill--skillbar.level-60::before { width: 60%; }
.skill--skillbar.level-80::before { width: 80%; }
.skill--skillbar.level-100::before { width: 100%; }

.skill--level {
  text-align: right;
  font-style: italic;
  font-size: 0.75em;
  line-height: 1;
}

.skill--list {
  padding-left: 1.5em;
  margin: 0;
}

.skill--term {
  text-indent: -0.5em;
}

#history .header {
  padding-bottom: 0;
  margin-bottom: var(--baseline);
}

#history .content {
  max-width: var(--two-column-width);
}

#history .job {
  break-inside: avoid;
}

#history .job .title,
#history .job .employer {
  font-weight: bold;
}

#history .job .title {
  font-size: 1.2em;
}

#history .job .description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;
}

#history .job .description.show {
  max-height: calc(var(--baseline) * 30);
}

#history .job .read-description {
  border: none;
  border-top: 1px solid silver;
  background-color: transparent;
  color: var(--blue);
  line-height: 3em;
  width: 100%;
  margin-bottom: var(--baseline);
}

#history .job .read-description:focus {
  outline: none;
}

@media screen and (min-width: 40rem) {
  #history .job {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 1rem;
    grid-auto-flow: dense;
    margin-bottom: var(--baseline);
  }

  .job .title {
    grid-row: 1 / span 2;
  }

  .job .employer,
  .job .date,
  .job .location {
    grid-column-start: 1;
  }

  #history .job .title,
  #history .job .description {
    grid-column-start: 2;
    max-height: none;
  }

  #history .job .description p:first-child {
    margin-top: 0;
  }

  #history .job .read-description {
    display: none;
  }
}

.certificate--name {
  font-weight: bold;
}

.certificate--info {
  display: flex;
  justify-content: space-between;
}

.certificate--info > * {
  display: block;
}

.certificate--image {
  display: block;
  width: 100%;
}

.certificate--source {
  color: blue;
}

#connect {
  background-color: var(--black);
  color: var(--white);
  height: calc(100vh - var(--nav-item-height) + 1px);
}

@media screen and (min-width: 40rem) {
  #connect {
    height: auto;
  }

  #connect .content {
    max-width: var(--two-column-width);
  }

  #connect .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

#connect a {
  display: flex;
  align-items: center;
  color: silver;
  text-decoration: none;
}

#connect a:hover {
  color: var(--white);
}

#connect a :first-child {
  font-size: 2.5em;
  margin: 0.5rem;
}

/*
https://css-tricks.com/hash-tag-links-padding/
http://nicolasgallagher.com/jump-links-and-viewport-positioning/#more-robust-method
*/
section,
footer {
  --borderSize: calc(var(--baseline) * 2);
  --margin: calc(0px - var(--borderSize));

  margin-top: var(--margin);
  border-top: var(--borderSize) solid transparent;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 40rem) and (min-height: 26.5rem) {
  section,
  footer {
    margin-top: 0;
    border-top: 0;
  }
}

@media print {
  body,
  #bio {
    background-color: white;
  }

  .container::before {
    content: 'Print Version\A View an interactive version of this CV on the Web:\A https://vaggrippino.github.io/CVRemix/';
    display: block;
    width: 80%;
    margin: 0 auto var(--baseline);
    text-align: center;
    font-weight: bold;
    padding: 0.25em;
    border: 2px solid silver;
    box-shadow: -3px 3px 0 0 rgba(0, 0, 0, 0.5);
    white-space: pre;
  }

  nav { display: none; }
  .bgvideo-container { display: none; }

  header {
    background-color: transparent;
    color: black;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    border-color: silver;
    border-style: solid;
    border-width: 1px 0;
  }

  header .title {
    display: flex;
    align-items: baseline;
  }

  header .title h1 {
    font-size: 2rem;
    flex: 0 1 auto;
    padding: var(--baseline) 1rem;
  }

  header .title h1::after {
    display: none;
  }

  header .title .caption {
    font-size: 1rem;
    flex: 0 1 auto;
  }

  .stack { display: none; }

  section {
    border-bottom: 1px solid silver;
    margin-bottom: var(--baseline);
  }

  #bio,
  #skills {
    break-inside: avoid;
  }

  #history,
  #certification {
    break-before: page;
  }

  #bio .location a {
    display: none;
  }

  #skills .more-info {
    display: none;
  }

  #history .job:not(:last-of-type) {
    border-bottom: 1px solid silver;
    margin-bottom: var(--baseline);
    padding-bottom: var(--baseline);
  }

  #history .read-description {
    display: none;
  }

  #connect {
    break-inside: avoid;
    height: auto;
  }
}
